@media (max-width: 450px) {
  body > header {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(0.4px) !important;
    -webkit-backdrop-filter: blur(0.4px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
  }
  .second-img {
    display: block !important;
    width: 100% !important;
  }

  .first-img {
    display: none;
  }

  body > header > div > div > div > nav > a.logo-img.d-inline.logo {
    margin-left: 0 !important;
    padding: 0;
  }

  .logo-img {
    width: 62% !important;
    padding: 25px !important;
  }

  body > header > div > div > div > nav > a.d-inline.logo {
    width: 50%;
  }
  body > header > div > div > div > nav > a.menu-trigger > span::before::after {
    color: white !important;
  }
  body > header > div > div > div > nav > ul > li.scroll-to-section > a {
    text-align: center !important;
  }
}

/* .bg-responsive{
  background-size: cover !important;
  background-position: center !important;
  
} */

#top {
  background-image: url("../images/wiut.JPG");
  background-size: cover;
  background-position: centerx;
}
